In [ ]:
import mariadb
import pandas as pd

In [ ]:
try:
    connection = mariadb.connect(
        host='',
        user='',
        password='',
        database='GameLogs'
    )
except:
    pass

In [ ]:
cur = connection.cursor()

In [21]:
columns = ['PlayerName', 'game_date', 'H', 'AB', 'PA', 'Rk', 'GameYear']
cur.execute('SELECT PlayerName, game_date, H, AB, PA, Rk, GameYear FROM DatabaseBatterGamelogs where PlayerName="Carson Kelly"')
batter_logs = pd.DataFrame(cur.fetchall(), columns=columns) 
print(batter_logs)
# cur.fetchall()

       PlayerName   game_date  H  AB  PA  Rk  GameYear
0    Carson Kelly  2018-05-06  0   1   1   1      2018
1    Carson Kelly  2018-05-07  0   2   3   2      2018
2    Carson Kelly  2018-05-08  0   1   1   3      2018
3    Carson Kelly  2018-05-10  0   3   3   4      2018
4    Carson Kelly  2018-05-11  0   5   5   5      2018
..            ...         ... ..  ..  ..  ..       ...
262  Carson Kelly  2021-09-28  0   2   2  94      2021
263  Carson Kelly  2021-09-29  1   3   3  95      2021
264  Carson Kelly  2021-09-30  2   5   5  96      2021
265  Carson Kelly  2021-10-01  0   1   1  97      2021
266  Carson Kelly  2021-10-02  3   5   5  98      2021

[267 rows x 7 columns]

Rk
BA_prime = batting average for n -> last game
BA = today's batting average

In [41]:
def getBA(data):
    h = data['H'].sum()
    ab =data['AB'].sum()
    print(h, ab)
    return h/ab

In [37]:
filtered

     PlayerName   game_date  H  AB  PA  Rk  GameYear
0  Carson Kelly  2018-05-06  0   1   1   1      2018
1  Carson Kelly  2018-05-07  0   2   3   2      2018
2  Carson Kelly  2018-05-08  0   1   1   3      2018
3  Carson Kelly  2018-05-10  0   3   3   4      2018
4  Carson Kelly  2018-05-11  0   5   5   5      2018
5  Carson Kelly  2018-05-12  0   0   0   6      2018
6  Carson Kelly  2018-05-13  1   4   4   7      2018
7  Carson Kelly  2018-05-15  1   2   2   8      2018

In [59]:
todays_game = 10
filtered = batter_logs.loc[(batter_logs['GameYear'] == 2018)]
for index, row in filtered.iterrows():
    if(row['Rk'] == 1):
        continue
    else:
        previous = filtered.loc[filtered['Rk'] == row['Rk']-1]
        print(row['Rk'], getBA(previous))
#     filtered = batter_logs.loc[(batter_logs['Rk'] == todays_game-1) & (batter_logs['GameYear'] == 2018)]
# getBA(filtered)
# filtered

0 1
2 0.0
0 2
3 0.0
0 1
4 0.0
0 3
5 0.0
0 5
6 0.0
0 0
7 nan
1 4
8 0.25
1 2
9 0.5
0 4
10 0.0
0 1
11 0.0
0 0
12 nan
0 2
13 0.0
0 0
14 nan
0 0
15 nan
0 0
16 nan
2 4
17 0.5
0 4
18 0.0
0 1
19 0.0

<ipython-input-41-00c2f1a6b5f7>:5: RuntimeWarning: invalid value encountered in longlong_scalars
  return h/ab
<ipython-input-41-00c2f1a6b5f7>:5: RuntimeWarning: invalid value encountered in longlong_scalars
  return h/ab
<ipython-input-41-00c2f1a6b5f7>:5: RuntimeWarning: invalid value encountered in longlong_scalars
  return h/ab
<ipython-input-41-00c2f1a6b5f7>:5: RuntimeWarning: invalid value encountered in longlong_scalars
  return h/ab
<ipython-input-41-00c2f1a6b5f7>:5: RuntimeWarning: invalid value encountered in longlong_scalars
  return h/ab